@model IEnumerable<PlaneTest1.Models.Flights>

@{
    ViewData["Title"] = "Index";
}

<h1>Flights</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlaneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Arrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PilotName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuisnesSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NormalSeats)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Arrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PilotName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuisnesSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NormalSeats)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlaneNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlaneNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlaneNumber">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
